@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --radius: 0.625rem;

  /* Colors */
  --white-color: #f2feff;
  --black-color: #1c1c1c;
  --blue-color: #004288;
  --primary-color: #5669ff;
  --light-primary-color: #dbe4ed;
  --dark-blue-color: #101127;
  --red-color: #ff5659;
  --light-gray-color: #7b7b7b;

  /* Theme variables */
  --background: var(--white-color);
  --foreground: var(--black-color);
  --card: var(--white-color);
  --card-foreground: var(--black-color);
  --popover: var(--white-color);
  --popover-foreground: var(--black-color);
  --primary: var(--primary-color);
  --primary-foreground: var(--white-color);
  --secondary: var(--light-primary-color);
  --secondary-foreground: var(--blue-color);
  --muted: var(--light-primary-color);
  --muted-foreground: var(--light-gray-color);
  --accent: var(--light-primary-color);
  --accent-foreground: var(--blue-color);
  --destructive: var(--red-color);
  --border: var(--light-primary-color);
  --input: var(--light-primary-color);
  --ring: var(--blue-color);
  --sidebar: var(--white-color);
  --sidebar-foreground: var(--black-color);
  --sidebar-primary: var(--primary-color);
  --sidebar-primary-foreground: var(--white-color);
  --sidebar-accent: var(--light-primary-color);
  --sidebar-accent-foreground: var(--blue-color);
  --sidebar-border: var(--light-primary-color);
  --sidebar-ring: var(--blue-color);
}

.dark {
  --background: var(--dark-blue-color);
  --foreground: var(--white-color);
  --card: var(--blue-color);
  --card-foreground: var(--white-color);
  --popover: var(--blue-color);
  --popover-foreground: var(--white-color);
  --primary: var(--light-primary-color);
  --primary-foreground: var(--blue-color);
  --secondary: var(--black-color);
  --secondary-foreground: var(--white-color);
  --muted: var(--black-color);
  --muted-foreground: var(--light-primary-color);
  --accent: var(--black-color);
  --accent-foreground: var(--white-color);
  --destructive: var(--red-color);
  --border: var(--light-primary-color);
  --input: var(--light-primary-color);
  --ring: var(--primary-color);
  --sidebar: var(--blue-color);
  --sidebar-foreground: var(--white-color);
  --sidebar-primary: var(--primary-color);
  --sidebar-primary-foreground: var(--white-color);
  --sidebar-accent: var(--black-color);
  --sidebar-accent-foreground: var(--white-color);
  --sidebar-border: var(--light-primary-color);
  --sidebar-ring: var(--primary-color);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--foreground);
    background-color: var(--background);
  }

  a:hover {
    color: var(--primary);
  }

  button {
    background-color: var(--secondary);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}
